
.title {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 30px; /* Spacing between grid items */
  max-width: 900px;
  margin: 0 auto;

}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 150px;

}

.card > div {
  padding: 30px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card h2 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: lighter;
  margin-top: 10px;
}

.card p {
  font-size: 15px;
  margin: 0;
}


.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 100px;
  gap: 50px;
  margin-left: 350px;

}

.card1 {
  display: flex;
  justify-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 10px auto 0; /* This centers the container horizontally */

}
.card1 > div {
  padding: 30px;
}
.card1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.card1 h2 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: lighter;
  margin-top: 10px;
  color: #333333; /* Dark gray for headings */
}
