.nav {
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  
}


.li {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  gap: 3%;
}